<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">BOOK NOW</span>
            <h2 class="cs-title">BOOK A RELAXING MASSAGE NOW !</h2>
                
            <a href="https://rakthaimassage.setmore.com/beta" target= "_blank"  class="cs-button-solid"><B>Book Now</B></a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/4630 (1)-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/4630 (1).jpg">
        <img loading="lazy" decoding="async" src="/assets/images/4630 (1).jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                