---
title: 'About'
description: "Discover the story behind Smile Beauty Spa in Ludgershall. Learn about our founder's Thai roots, passion for massage, and commitment to your well-being. Visit us today!"
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
        <img aria-hidden="true" loading="lazy" decoding="/assets/images/banner.jpg" alt="library" width="1920" height="375">
    </picture>
</div>
         
<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1462">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/2149292000.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/2149292000.webp">
                <img loading="lazy" decoding="async" src="/assets/images/2149292000.webp" alt="turbine" width="500" height="729" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About</span>
            <h2 class="cs-title">Rak Thai Massage</h2>
            <p class="cs-text">
                We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies. Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">Stage-focused investing.</li>
                <li class="cs-li">Sector specialization.</li>
                <li class="cs-li">Active involvement.</li>
                <li class="cs-li">Portfolio diversification.</li>
            </ul>
            <a href="/Massages" class="cs-button-solid">Massages</a>
        </div>
    </div>

</section>
                                                   
                                

    {% include 'components/cta.html' %}

{% endblock %}