---
title: 'Massages'
description: 'Experience gentle and thorough waxing treatments at our Ludgershall spa. Our skilled aestheticians offer a range of services, from quick touch-ups to full-body waxing. '
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massages.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/banner.jpg" alt="library" width="1920" height="375">
    </picture>
</div>
<div class="cs-content2">
    <span class="cs-topper2">Rak Thai Massages</span>
    <h2 class="cs-title2">Thai <span class="cs-color">Massages</span></h2>
    <p class="cs-text2">
        Experience our empowering and relaxing tradtional massages in Kent
</div>                            

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->


<section id="pricing-1027">
    <div class="cs-container">
        <div class="cs-content">
            <span class ='cs-topper'>massage</span>
            <h2 class="cs-title">30 minutes</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        A full-body massage with warm oils and rhythmic strokes for relaxation and flexibility.                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sport Massage</span>
                        <span class="cs-price">$45</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/oilmassage.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/oilmassage.webp">
            <img loading="lazy" decoding="async" src="/assets/images/oilmassage.jpg" alt="steak" width="542" height="743">
        </picture>
    </div>
</section>
    <!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1028">
    <div class="cs-container">
        <div class="cs-content">
            <span class ='cs-topper'>massage</span>
            <h2 class="cs-title">60minutes</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Tradtional Thai Massage</span>
                        <span class="cs-price">£60</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sports Massage</span>
                        <span class="cs-price">£65</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Body Scrub Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couple's Massage</span>
                        <span class="cs-price">£110</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/stonemassage-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/stonemassagef.webp">
            <img loading="lazy" decoding="async" src="/assets/images/stonemassage.jpg" alt="steak" width="542" height="743">
        </picture>
    </div>
</section>
                                <!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1027">
    <div class="cs-container">
        <div class="cs-content">
            <span class ='cs-topper'>massage</span>

            <h2 class="cs-title">90minutes</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Tradtional Thai Massage</span>
                        <span class="cs-price">£85</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Sports Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Body Scrub Massage</span>
                        <span class="cs-price">£105</span>
                       
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hot Stone Massage</span>
                        <span class="cs-price">£105</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Couple's Massage</span>
                        <span class="cs-price">£160</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/sport-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/sport.webp">
            <img loading="lazy" decoding="async" src="/assets/images/sport.jpg" alt="steak" width="542" height="743">
        </picture>
    </div>
</section>

                      

    {% include 'components/cta.html' %}

{% endblock %}