/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-359 {
    background-color: white;
    padding: var(--sectionPadding);
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
    70% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes InAndOut {
    0% {
      transform: translateY(2.5rem) scale(1);
      opacity: 1;
    }
    30% {
      transform: translateY(1.25rem) scale(0.8);
      opacity: 1;
    }
    60% {
      transform: translateY(0.625rem) scale(0.5);
      opacity: 1;
    }
    100% {
      transform: translateY(0rem) scale(0.5);
      opacity: 0;
    }
  }
  @keyframes InAndOut2 {
    0% {
      transform: translateY(3.125rem) scale(1);
      opacity: 1;
    }
    30% {
      transform: translateY(2.5rem) scale(1);
      opacity: 1;
    }
    60% {
      transform: translateY(1.25rem) scale(0.6);
      opacity: 1;
    }
    100% {
      transform: translateY(0rem) scale(0.4);
      opacity: 0;
    }
  }
  #why-choose-359 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 48px - 56px */
    gap: clamp(3rem, 7vw, 3.5rem);
  }
  #why-choose-359 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-359 .cs-title {
    max-width: 20ch;
  }
  #why-choose-359 .cs-text {
    margin-bottom: 1rem;
  }
  #why-choose-359 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #why-choose-359 .cs-picture {
    width: 100%;
    height: 25rem;
    border-radius: 0px;
    /* clips the corners of rhe image */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #why-choose-359 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* change to "top" if you don't want the top of the image cut off */
    object-position: center;
  }
  #why-choose-359 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-359 .cs-item {
    list-style: none;
    width: 100%;
    /* 24px - 32px */
    padding: clamp(1.5rem, 4.3vw, 2rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #why-choose-359 .cs-icon-wrapper {
    width: 4.0625rem;
    height: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
  #why-choose-359 .cs-icon-wrapper:before {
    /* Small Bubble */
    content: "";
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background: #e5f2ff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0.1875rem;
    animation-name: InAndOut;
    animation-duration: 1.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #why-choose-359 .cs-icon-wrapper:after {
    /* Small Bubble */
    content: "";
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background: #e5f2ff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.6875rem;
    right: 0.3125rem;
    animation-name: InAndOut2;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #why-choose-359 .cs-bubble {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #why-choose-359 .cs-bubble:before {
    /* Big Bubble */
    content: "";
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: 50%;
    background: #e5f2ff;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0.25rem;
    left: 0rem;
    animation-name: floatAnimation2;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-359 .cs-bubble:after {
    /* Big Bubble */
    content: "";
    width: 1.9375rem;
    height: 1.9375rem;
    border-radius: 50%;
    background: #e5f2ff;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.25rem;
    right: 0rem;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-359 .cs-icon {
    width: 3rem;
    height: auto;
    position: relative;
    z-index: 10;
  }
  #why-choose-359 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
  }
  #why-choose-359 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-359 .cs-item {
    flex-direction: row;
    justify-content: flex-start;
  }
  #why-choose-359 .cs-icon-wrapper {
    margin-right: 1.5rem;
  }
  #why-choose-359 .cs-h3,
  #why-choose-359 .cs-item-text {
    text-align: left;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-359 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #why-choose-359 .cs-content {
    max-width: 32.625rem;
  }
  #why-choose-359 .cs-picture {
    height: 17.5rem;
  }
  #why-choose-359 .cs-card-group {
    width: 50%;
    max-width: 39.375rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-359 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #why-choose-359 .cs-title,
  body.dark-mode #why-choose-359 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-359 .cs-icon-wrapper:before,
  body.dark-mode #why-choose-359 .cs-bubble:before,
  body.dark-mode #why-choose-359 .cs-icon-wrapper:after,
  body.dark-mode #why-choose-359 .cs-bubble:after {
    background-color: var(--accent);
  }
  body.dark-mode #why-choose-359 .cs-icon {
    /* turns the icon white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #why-choose-359 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-359 .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1313 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1313 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.25rem;
  }
  #why-choose-1313 .cs-title {
    margin: 0;
  }
  #why-choose-1313 .cs-flex-group {
    width: 50%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1313 .cs-ul {
    flex-direction: row;
  }
  #why-choose-1313 .cs-image-group {
    flex-wrap: nowrap;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1313 .cs-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #why-choose-1313 .cs-ul {
    max-width: 20.3125rem;
    flex-direction: column;
    align-self: flex-end;
  }
  #why-choose-1313 .cs-image-group {
    max-width: 52.875rem;
    align-items: stretch;
  }
  #why-choose-1313 .cs-picture {
    min-height: 25rem;
    height: 100%;
    max-height: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-359 {
    background-color: var(--medium);
  }
  body.dark-mode #why-choose-1313 .cs-title,
  body.dark-mode #why-choose-1313 .cs-text,
  body.dark-mode #why-choose-1313 .cs-li-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1313 .cs-h3 {
    color: var(--secondary);
  }
  body.dark-mode #why-choose-1313 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #why-choose-1313 .cs-text,
  body.dark-mode #why-choose-1313 .cs-li-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          side by side reversee         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-563 {
    background-color: #F7F7F7;
    padding: var(--sectionPadding);
  }
  #services-563 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-563 .cs-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-563 .cs-topper {
    color: var(--secondary);
  }
  #services-563 .cs-text {
    margin-bottom: 1rem;
  }
  #services-563 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-563 .cs-color {
    color: var(--primary);
  }
  #services-563 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 3vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    /* 16px - 20px */
    margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
    color: var(--headerColor);
  }
  #services-563 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
  }
  #services-563 .cs-li {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 1.25rem;
  }
  #services-563 .cs-icon {
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
  }
  #services-563 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #FFFF;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-563 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--hover);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #services-563 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-563 .cs-picture {
    /* changes at tablet */
    width: 100%;
    max-width: 39.375rem;
    /* changes to a clamp at tablet */
    height: 24.75rem;
    display: block;
    position: relative;
  }
  #services-563 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-563 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #services-563 .cs-picture {
    width: 46vw;
    /* 415px - 528px */
    height: clamp(25.9375rem, 50vw, 33rem);
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #services-563 .cs-content {
    width: 45%;
    max-width: 32.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-563 {
    background-color: var(--dark);
  }
  body.dark-mode #services-563 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #services-563 .cs-color {
    color: var(--primaryLight);
  }
  body.dark-mode #services-563 .cs-title,
  body.dark-mode #services-563 .cs-text,
  body.dark-mode #services-563 .cs-h3,
  body.dark-mode #services-563 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-563 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #services-563 .cs-icon {
    filter: brightness(150%);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-946 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbsr-946 .cs-image-group {
    /* set to inherit at Large Desktop */
    font-size: min(1.15vw, 1em);
    margin: 0;
    /* prevents flexbox from squishing it */
    flex: none;
    /* sends it to the right int he 2nd position */
    order: 2;
  }
  #sbsr-946 .cs-content {
    width: 51%;
  }
}
/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
  #sbsr-946 .cs-floater {
    width: 27.8125rem;
    height: auto;
    display: block;
    position: absolute;
    left: -3.125rem;
    top: 1.25rem;
    transform: scaleX(-1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-946 {
    background-color: var(--charcoal);
  }
  body.dark-mode #sbsr-946 .cs-title,
  body.dark-mode #sbsr-946 .cs-text,
  body.dark-mode #sbsr-946 .cs-header,
  body.dark-mode #sbsr-946 .cs-link-content {
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  body.dark-mode #sbsr-946 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-946 .cs-link:before {
    background-color: var(--accent);
  }
  body.dark-mode #sbsr-946 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #sbsr-946 .cs-icon {
    /* makes icons that are not black turn white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbsr-946 .cs-graphic1,
  body.dark-mode #sbsr-946 .cs-graphic2 {
    filter: brightness(50%);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-879 {
    padding: var(--sectionPadding);
  }
  #services-879 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-879 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-879 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
    z-index: 1;
  }
  #services-879 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: span 6;
  }
  #services-879 .cs-link {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 26.25rem;
    padding: 1.25rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.75rem;
    position: relative;
  }
  #services-879 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #services-879 .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #services-879 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  #services-879 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000 10.13%, rgba(0, 0, 0, 0) 40.71%);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: height 0.3s;
  }
  #services-879 .cs-background img {
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: relative;
    z-index: -1;
    transition: transform 0.6s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-879 .cs-item {
    grid-column: span 3;
  }
  #services-879 .cs-item:last-of-type {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-879 .cs-container {
    max-width: 80rem;
  }
  #services-879 .cs-item {
    grid-column: span 2;
  }
  #services-879 .cs-item:last-of-type {
    grid-column: span 2;
  }
  #services-879 .cs-link:hover .cs-h3,
  #services-879 .cs-link:focus-within .cs-h3 {
    color: var(--secondary);
    transform: translateY(0);
  }
  #services-879 .cs-link:hover .cs-item-p,
  #services-879 .cs-link:focus-within .cs-item-p {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
  #services-879 .cs-link:hover .cs-background:before,
  #services-879 .cs-link:focus-within .cs-background:before {
    height: 180%;
  }
  #services-879 .cs-link:hover .cs-background img,
  #services-879 .cs-link:focus-within .cs-background img {
    transform: scale(1.1);
  }
  #services-879 .cs-h3 {
    /* transform down the same amount as the flex gap */
    transform: translateY(0.75rem);
    transition: transform 0.3s, color 0.3s;
  }
  #services-879 .cs-item-p {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(3.125rem);
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-879 {
    background-color: var(--medium);
  }
  body.dark-mode #services-879 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #services-879 .cs-title,
  body.dark-mode #services-879 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-879 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #services-879 .cs-wave path {
    fill: var(--dark);
  }
}
/*-- -------------------------- -->
<---          side by side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-564 {
    background-color: #F7F7F7;
    padding: var(--sectionPadding);
  }
  #services-564 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-564 .cs-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-564 .cs-topper {
    color: var(--headerColor);
  }
  #services-564 .cs-text {
    margin-bottom: 1rem;
  }
  #services-564 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-564 .cs-color {
    color: var(--primary);
  }
  #services-564 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 3vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    /* 16px - 20px */
    margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
    color: var(--headerColor);
  }
  #services-564 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
  }
  #services-564 .cs-li {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 1.25rem;
  }
  #services-564 .cs-icon {
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
  }
  #services-564 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #FFFF;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #services-564 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--hover);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0px;
    transition: width 0.3s;
  }
  #services-564 .cs-button-solid:hover {
    color: #fff;
  }
  #services-564 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-564 .cs-picture {
    /* changes at tablet */
    width: 100%;
    max-width: 39.375rem;
    /* changes to a clamp at tablet */
    height: 24.75rem;
    display: block;
    position: relative;
  }
  #services-564 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-564 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #services-564 .cs-picture {
    width: 46vw;
    /* 415px - 528px */
    height: clamp(25.9375rem, 50vw, 33rem);
  }
  #services-564 .cs-content {
    width: 45%;
    max-width: 32.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-564 {
    background-color: var(--dark);
  }
  body.dark-mode #services-564 .cs-topper {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-564 .cs-color {
    color: var(--primaryLight);
  }
  body.dark-mode #services-564 .cs-title,
  body.dark-mode #services-564 .cs-text,
  body.dark-mode #services-564 .cs-h3,
  body.dark-mode #services-564 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-564 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #services-564 .cs-icon {
    filter: brightness(150%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-945 {
    background-color: var(--charcoal);
  }
  body.dark-mode #sbs-945 .cs-title,
  body.dark-mode #sbs-945 .cs-text,
  body.dark-mode #sbs-945 .cs-header,
  body.dark-mode #sbs-945 .cs-link-content {
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  body.dark-mode #sbs-945 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-945 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #sbs-945 .cs-link:before {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-945 .cs-icon {
    /* makes icons that are not black turn white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbs-945 .cs-graphic1,
  body.dark-mode #sbs-945 .cs-graphic2 {
    filter: brightness(50%);
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1582 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #faq-1582 .cs-container {
    width: 100%;
    /* changes to 1280px at talet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 5vw, 4rem);
    position: relative;
  }
  #faq-1582 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1582 .cs-title {
    margin: 0;
  }
  #faq-1582 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #faq-1582 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* 20px - 32px */
    padding: clamp(1.25rem, 2.3vw, 2rem);
    background-color: #F7F7F7;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #faq-1582 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #faq-1582 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1582 .cs-container {
    max-width: 80rem;
  }
  #faq-1582 .cs-item {
    grid-column: span 6;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1582 {
    background-color: var(--medium);
  }
  body.dark-mode #faq-1582 .cs-title,
  body.dark-mode #faq-1582 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-1582 .cs-item {
    background-color: var(--accent);
  }
  body.dark-mode #faq-1582 .cs-h3,
  body.dark-mode #faq-1582 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-727 {
    padding: var(--sectionPadding);
    background-color: #F7F7F7;
  }
  #reviews-727 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-727 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-727 .cs-title {
    max-width: 20ch;
  }
  #reviews-727 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-727 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    /* 32px - 48px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
    /* makes padding not affect height and width */
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-727 .cs-icon {
    /* 30px - 40px */
    width: clamp(1.875rem, 4vw, 2.5rem);
    height: auto;
    margin: 0 0 2rem 0;
    display: block;
  }
  #reviews-727 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 4vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    color: var(--headerColor);
  }
  #reviews-727 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 4vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 3rem 0;
    color: var(--bodyTextColor);
  }
  #reviews-727 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 500;
    margin: auto 0 0 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  #reviews-727 .cs-name:before {
    content: "";
    width: 0.5rem;
    height: 1px;
    background: currentColor;
    display: block;
    position: relative;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-727 .cs-container {
    max-width: 80rem;
  }
  #reviews-727 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #reviews-727 .cs-item {
    width: 48.5%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-727 {
    background-color: var(--dark);
  }
  body.dark-mode #reviews-727 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #reviews-727 .cs-title,
  body.dark-mode #reviews-727 .cs-text,
  body.dark-mode #reviews-727 .cs-h3,
  body.dark-mode #reviews-727 .cs-name,
  body.dark-mode #reviews-727 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-727 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #reviews-727 .cs-text,
  body.dark-mode #reviews-727 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #reviews-727 .cs-item {
    background-color: var(--medium);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-607 {
    padding: var(--sectionPadding);
    background-color: #F7F7F7;
  }
  #reviews-607 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-607 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-607 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-607 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
    /* makes padding not affect height and width */
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-607 .cs-icon {
    /* 30px - 40px */
    width: clamp(1.875rem, 4vw, 2.5rem);
    height: auto;
    margin: 0 0 2rem 0;
    display: block;
  }
  #reviews-607 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 4vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    color: var(--headerColor);
  }
  #reviews-607 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 4vw, 1rem);
    line-height: 1.5em;
    max-width: 24.25rem;
    margin: 0 0 3rem 0;
    color: var(--bodyTextColor);
  }
  #reviews-607 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 500;
    margin: auto 0 0 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }
  #reviews-607 .cs-name:before {
    content: "";
    width: 0.5rem;
    height: 1px;
    background: currentColor;
    display: block;
    position: relative;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-607 .cs-container {
    max-width: 80rem;
  }
  #reviews-607 .cs-card-group {
    /* we went grid on tablet so that we can have an even spaced section with this design. Flexbox has a hard time making this type of design work with even gaps. */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #reviews-607 .cs-item {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #reviews-607 .cs-item:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #reviews-607 .cs-item:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-607 .cs-card-group {
    /* went back to flexbox for an easier transition to this horizontal layout. We don't have to re-target each cs-item to reset its grid positioning, we can just revert to flexbox and make the layout in less code and hassle */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
  }
  #reviews-607 .cs-item {
    width: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-607 {
    background-color: var(--charcoal);
  }
  body.dark-mode #reviews-607 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #reviews-607 .cs-title,
  body.dark-mode #reviews-607 .cs-text,
  body.dark-mode #reviews-607 .cs-h3,
  body.dark-mode #reviews-607 .cs-name,
  body.dark-mode #reviews-607 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-607 .cs-text,
  body.dark-mode #reviews-607 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #reviews-607 .cs-item {
    background-color: var(--medium);
  }
}
